@media (max-width: 1300px) {
  header > .text-title {
    margin-left: 20px;
  }

  .main {
    padding: 50px 0 70px 20px;
    margin: 0;
    grid-template-columns: 600px 361px;
    
  }

 .section-left {
    width: 600px;
  }

  .main > .section-left > .image-container > img {
    width: 600px;
  }

  .main > .section-left > .article-post> .card {
    grid-template-columns: repeat(2, 250px);
    column-gap: 0px;
    margin: 0;
    padding: 0;

  }

  .main > .section-left > .article-post> .card > .cards,
  .main > .section-left > .article-post> .card > .cards > img  {
    width: 250px;
    gap: 5px;
  }

  /* main {

        padding: 50px 0 70px 40px;

        .section-left {
            width: 700px;

            .image-container {

                img {
                    width: 700px;
                }
            }
        }
    } */
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {

}