@media (max-width: 1300px) {
  header > .text-title {
    margin-left: 2rem;
  }

  .main {
    padding: 50px 0 70px 0;
    justify-content: center;
    margin: 0;
    grid-template-columns: 600px 361px;
  }

  .main > .section-left > .image-container > img, 
  .section-left {
    width: 600px;
  }

  .main > .section-left > .article-post> .card {
    grid-template-columns: repeat(2, 250px);
    column-gap: 60px;
    margin: 0;
    padding: 0;
  }

  .main > .section-left > .article-post> .card > .cards,
  .main > .section-left > .article-post> .card > .cards > img  {
    width: 290px;
    gap: 5px;
  }

  .main > .section-left > .article-post> .card > .cards > .content {
    height: 250px;
  }
}

@media (max-width: 1023px) {

  header .text-title {
    font-size: 32px;
    margin-left: 30px;
  }
  
  .main {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-left,
  .section-right,
  .main .section-left > .image-container > img {
    width: 700px;
  }

  .main > .section-left > .article-post> .card {
    column-gap: 110px;
  }

  .main > .section-left > .article-post> .card > .cards,
  .main > .section-left > .article-post> .card > .cards > img  {
    width: 340px;
  }

  .main > .section-left > .article-post> .card > .cards > .content {
    height: 220px;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {

}