@import url('../fonts/fonts.css');

:root {
    --primary-color: #02A28F;
    --SECONDARY-COLOR: #616161;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montsserat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1 1 0;
    }
}

.color-green {
    background-color: var(--primary-color);
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 24px;

    h1 {
        color: #FFF;
        margin-left: 156px;
    }
}

main {
    display: grid;
    grid-template-columns: 744px, 361px;
}


footer {
    height: 48px;

    p {
        color: #FFF;
    }
}